/* Global Styles */

body {
    background-color: #2E5559;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Mobile Styles */

#container {
    background-color: #688C71;
    margin: 10px;
    border: 4px solid #D7D9D7;
}

header {
    background-image: url("../images/gcourse1.jpg");
    background-size: cover;
    padding: 60px 0;
}

header h1 {
    color:#000;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: #2E5559;
    color: #D7D9D7;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 10px 0;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 10px;
}

nav, section, aside, .col, footer {
    background-color: #D7D9D7;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 4px solid #2E5559;
}

.button {
    display: block;
    background-color: #2E5559;
    color: #D7D9D7;
    height: 40px;
    width: 175px;
    line-height: 40px;
    text-align: center;
    margin: 10px auto;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 10px;
}

nav li a:hover, .button:hover {
    background-color: #688C71;
    text-shadow: 1px 1px 1px #000;
}

h2, h3 {
    color: #000;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    font-size: 1.em;
}

section img, aside img {
    width: 65%;
}

footer {
    padding: 20px 0;
    text-align: center;
    color: #2E5559;
}

/* Tablet Styles */

@media(min-width: 768px) {
    header {
        padding: 125px;
    }

    header h1 {
        font-size: 3em;
    }

    nav {
        text-align: center;
        padding: 5px;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        height: 50px;
        line-height: 50px;
        width: 200px;
    }

    #upper_flex {
        display: flex;
    }

    section, aside {
        width: 50%;
    }

    aside img {
        width: 50%;
    }

    .col img {
        width: 60%;
        border-radius: 10px;
        border: 4px solid #2E5559;
    }

}

/* Desktop Styles */