/* Global Styles */
body {
    background-color: #2E5559;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Mobile Styles */
#container {
    background-color: #688C71;
    margin: 10px;
    border: 4px solid #D7D9D7;
}

nav, section, aside, .col, footer {
    background-color: #D7D9D7;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 4px solid #2E5559;
}
/* Tablet Styles */


/* Desktop Styles */