body {
    background-color: #485959;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Mobile Styles */

header {
    padding: 60px;
    border-bottom: 4px solid #F0F2DF;
}

header h1 {
    text-align: center;
    font-size: 2.5em;
    color: #F0F2DF;
    text-shadow: 2px 2px 2px #000;
    font-family: 'Kaisei Tokumin', serif;
}

#container {
    background-color: #86A6A3;
    margin: 20px;
}

main {
    margin: 10px;
}

.col {
    background-color: #F2A2A2;
    padding: 10px;
    border: 4px solid #F0F2DF;
    border-radius: 20px;
    margin: 20px 0;
}

.col h2 {
    text-align: center;
    font-size: 2 em;
    color: #F0F2DF;
    text-shadow: 2px 2px 2px #000;
    font-family: 'Kaisei Tokumin', serif;
}

.col img {
    width: 50%;
}

.main_img {
    display: none;
}

footer {
    padding: 60px 0;
    text-align: center;
    color:#F0F2DF;
    border-top: 4px solid #F0F2DF;
}

/* Tablet View */

@media(min-width: 768px) {
    header h1 {
        font-size: 3em;
    }
    
    #container {
        border-radius: 20px;
        border: 4px solid #F0F2DF;
    }
    
    .col {
        width: 65%;
        margin: 20px auto;
    }
}

/* Desktop View */

@media(min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
    }
    
    #flex {
        display: flex;
    }

    .col {
        margin: 0 20px;
    }

    .main_img {
        display: block;
        width: 25%;
        margin-top: 30px;
    }
}